* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: rgb(253, 251, 251);
}

.fab {
  font-size: 2rem;
}

.fa-instagram {
  font-size: 2.3rem;
}

.fa-linkedin {
  font-size: 2.2rem;
}

#cabecalho {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  color: rgb(51, 102, 255);
  background-color: rgb(253, 251, 251);
}

#titulo {
  padding: 10px 50px;
  background-color: rgb(242, 242, 242);
  box-shadow: 2px 0 10px rgb(204, 204, 204);
  margin: 5px;
  font-size: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding: 10px;
}

nav a {
  position: relative;
}

nav a:hover {
  color: rgb(22, 76, 240);
}

nav a:after {
  content: "";
  display: block;
  opacity: 0;
  width: 8px;
  height: 8px;
  border: 5px double rgb(51, 102, 255);
  border-radius: 50%;
  position: absolute;
  right: calc(50% - 13px);
  margin: 3px;
  background-color: rgb(253, 251, 251);
  transition: 0.2s;
}

nav a:hover::after {
  opacity: 1;
}

#cabecalho::after {
  content: "";
  display: block;
  margin: auto;
  width: 60%;
  height: 3px;
  background-color: rgb(51, 102, 255);
  border-radius: 15px;
  box-shadow: 2px 0 5px rgb(189, 188, 188);
}

main {
  position: relative;
  top: 150px;
}

#inicio {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgb(102, 153, 255) 0%,
    rgb(153, 153, 255) 100%
  );
  padding: 20px;
  flex-direction: column;
  max-width: 800px;
  margin: 0 50px;
  border-radius: 15px;
  color: rgb(0, 45, 179);
}

#inicio header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#inicio h2 {
  font-weight: 500;
  margin: 0 20px;
  text-align: center;
}

#minha_foto {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px #5778c7;
  margin: 20px;
}

#inicio article p {
  padding: 20px;
}

#licoes h3 {
  font-weight: 500;
  margin: 0;
}

li {
  text-align: center;
}

#tabela {
  clear: both;
  line-height: 1.5rem;
}

#tabela caption {
  font-size: 1.2rem;
  margin: 10px;
}

#tabela th {
  font-weight: 500;
  color: rgb(51, 102, 255);
  border-right: 2px solid rgb(51, 102, 255);
  padding: 0 7px 0 5px;
}

#tabela th:last-of-type {
  border: none;
}

#tabela td {
  border-right: 2px solid rgb(51, 102, 255);
  padding: 0 7px 0 5px;
}

aside {
  position: absolute;
  right: 50px;
  top: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgb(102, 153, 255) 0%,
    rgb(153, 153, 255) 100%
  );
}

#rodape {
  padding: 20px 50px;
  background-color: rgb(102, 140, 255);
}

#rodape p {
  font-size: 0.9rem;
  font-weight: 300;
}
